# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Database
*.db

# Uploaded files
uploads/
storage/

# Testing
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store